p {
  color: maroon;
  font-size: 1rem;
}
  h1,h2{
    color:gray ;
    font-size: 1.2rem;
  }
  h1{
    font-size: 1.4rem;
    border-bottom:1px solid black;
  }
  body{
    font-family:Arial;
  }
  html{
    font-size: 14px;
  }